extends ./layout.jade

block title
	title #{title}

block content
	h1 Place Your Ships

	- var k = 0;  //Used to give the unique counter to each cell.

	div#grid-section
		table#grid
			tr
				th
				- for(var i = 1; i < 11; i++)
					th #{i}
			- var letterArray = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"];

			- for(var i = 0; i < 10; i++){
				tr
					th #{letterArray[i]}
					-for(var j = 1; j < 11; j++)
						- k++;
						- var id = letterArray[i] + j;
						td(id="#{id}" class="#{letterArray[i]} #{j} #{k}") #{letterArray[i]}#{j}
			- }
	div#info-section
		div#clicked
		div#shipList
		div#readyDiv
			form#playForm(method="get", action="/play", name="playForm")

block pageSpecificScripts	
	script(src="javascripts/app.js")